body {
    background-color: lightblue;
    border: 2px solid white;
    height: 95vh;
}
.wrap {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.title {
    text-shadow: 1px 0 0 black;
    letter-spacing: 1px;
}
h4 {
    font-size: 1.2em;
    width: 85%;
    margin: 25px auto;
}
span {
    color: magenta;
    text-shadow: black 1px 0 0;
}